* {
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: "Roboto", sans-serif;
}

:root {
  --off-white: #eeeee4;
  --grey: #d6d6cd;
  --onyx: #353935;
  --blue: #1e90ff;
  --orange: #fb4d3d;
  --green: #03cea4;
}

.darkText {
  color: var(--onyx);
}

.orangeText {
  color: var(--orange);
}
.blueText {
  color: var(--blue);
}
.greenText {
  color: var(--green);
}

body {
  background-color: var(--off-white);
  color: var(--onyx);
  margin: 0;
  padding: 0;
}

.title {
  --main-color: var(--grey);
  text-align: center;
  max-width: 450px;
  padding: 25px;
  border-radius: 60px;
  animation: fall 1s ease alternate both;
}

.title:hover {
  animation: rise 1s ease alternate both;
}

.fullName {
  color: var(--blue);
}

.hi {
  color: var(--orange);
}

.role {
  color: var(--green);
}

.card {
  --main-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  color: var(--main-color);
  width: 220px;
  height: 150px;
  border-radius: 15px;
  animation: fall 1s ease alternate both;
}

.card:hover {
  animation: rise 0.5s ease alternate both;
}

.card-round {
  width: 50px;
  height: 50px;
  font-size: 1.3rem;
  border-radius: 100px;
}

.card-icon {
  --main-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 15px;
  animation: fall-icon 1s ease alternate both;
}

.card-icon:hover {
  animation: rise-icon 0.5s ease alternate both;
}

@keyframes rise {
  0% {
    box-shadow: 0px 0px var(--main-color);
    border: 0px hidden var(--main-color);
  }
  100% {
    transform: scale(1.05) translate(-2.5%, -2.5%);
    box-shadow: 10px 12px var(--main-color);
    border-top: 0.1px solid var(--main-color);
    border-left: 0.1px solid var(--main-color);

    background: var(--off-white);
  }
}

@keyframes rise-icon {
  0% {
    box-shadow: 0px 0px var(--main-color);
    border: 0px hidden var(--main-color);
  }
  100% {
    transform: scale(1.05) translate(-2.5%, -2.5%);
    box-shadow: 3px 5px var(--main-color);
    border-top: 0.01px solid var(--main-color);
    border-left: 0.01px solid var(--main-color);

    background: var(--off-white);
  }
}

@keyframes fall {
  0% {
    transform: scale(1.05) translate(-2.5%, -2.5%);
    box-shadow: 10px 12px var(--main-color);
    border-top: 0.1px solid var(--main-color);
    border-left: 0.1px solid var(--main-color);
    background: var(--off-white);
  }

  100% {
    transform: scale(1) translate(0, 0);
    box-shadow: none;
    border: 0px hidden var(--main-color);
  }
}

@keyframes fall-icon {
  0% {
    transform: scale(1.05) translate(-2.5%, -2.5%);
    box-shadow: 3px 5px var(--main-color);
    border-top: 0.01px solid var(--main-color);
    border-left: 0.01px solid var(--main-color);
    background: var(--off-white);
  }

  100% {
    transform: scale(1) translate(0, 0);
    box-shadow: none;
    border: 0px hidden var(--main-color);
  }
}

.card-orange {
  --main-color: var(--orange);
}
.card-blue {
  --main-color: var(--blue);
}
.card-green {
  --main-color: var(--green);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 1rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100vh;
}

@media only screen and (min-width: 600px) {
  .navigation {
    flex-direction: row;
  }
}

.about,
.tech,
.projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.about-copy,
.tech-copy,
.projects-copy {
  width: 80vw;
  max-width: 800px;
}

/* PARTICLES */
.particle {
  position: absolute;
  border-radius: 50%;
}

@for $i from 1 through 100 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d(
        (random(90) * 1vw),
        (random(90) * 1vh),
        (random(100) * 1px)
      );
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 60s infinite;
    $size: random(1) + 5 + px;
    opacity: random(100) / 100;
    height: $size;
    width: $size;
    animation-delay: -$i * 0.2s;
    transform: translate3d(
      (random(90) * 1vw),
      (random(90) * 1vh),
      (random(100) * 1px)
    );
    background: hsl(random(360), 70%, 50%);
  }
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  width: 100%;
  padding: 0 0.5rem;
}

.icon {
  padding: 0 5px;
  margin-left: 0.5rem;
}
