* {
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-family: "Roboto", sans-serif;
}

:root {
  --off-white: #eeeee4;
  --grey: #d6d6cd;
  --onyx: #353935;
  --blue: #1e90ff;
  --orange: #fb4d3d;
  --green: #03cea4;
}

.darkText {
  color: var(--onyx);
}

.orangeText {
  color: var(--orange);
}
.blueText {
  color: var(--blue);
}
.greenText {
  color: var(--green);
}

body {
  background-color: var(--off-white);
  color: var(--onyx);
  margin: 0;
  padding: 0;
}

.title {
  --main-color: var(--grey);
  text-align: center;
  max-width: 450px;
  padding: 25px;
  border-radius: 60px;
  animation: fall 1s ease alternate both;
}

.title:hover {
  animation: rise 1s ease alternate both;
}

.fullName {
  color: var(--blue);
}

.hi {
  color: var(--orange);
}

.role {
  color: var(--green);
}

.card {
  --main-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  background-color: #eeeee4;
  color: var(--main-color);
  width: 220px;
  height: 150px;
  border-radius: 15px;
  animation: fall 1s ease alternate both;
}

.card:hover {
  animation: rise 0.5s ease alternate both;
}

.card-round {
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

@keyframes rise {
  0% {
    box-shadow: 0px 0px var(--main-color);
    border: 0px hidden var(--main-color);
  }
  100% {
    transform: scale(1.05) translate(-2.5%, -2.5%);
    box-shadow: 5px 7px var(--main-color);
    border: 0.1px solid var(--main-color);
  }
}

@keyframes fall {
  0% {
    transform: scale(1.05) translate(-2.5%, -2.5%);
    box-shadow: 5px 7px var(--main-color);
    border: 0.1px solid var(--main-color);
  }

  100% {
    transform: scale(1) translate(0, 0);
    box-shadow: none;
    border: 0px hidden var(--main-color);
  }
}

.card-orange {
  --main-color: var(--orange);
}
.card-blue {
  --main-color: var(--blue);
}
.card-green {
  --main-color: var(--green);
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 1rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

@media only screen and (min-width: 600px) {
  .navigation {
    flex-direction: row;
  }
}

.about,
.tech,
.projects {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.about-copy,
.tech-copy,
.projects-copy {
  width: 80vw;
  max-width: 800px;
}
